    {include file="common/header"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
		 <!-- Page Sidebar -->
            
                <!-- Page Sidebar Header-->
                    {include file="common/left" /}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('index/index','')}">{$Think.lang.system}</a>
                        </li>
                        <li>
                            <a href="{:url('category/lst','')}">{$Think.lang.category}</a>
                        </li>
                        <li class="active">{$Think.lang.add}
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$Think.lang.category_add}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('category/add')}" method="post">
                        <div class="form-group">
                            <label for="cate_name" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_name}</label>
                            <div class="col-sm-6">
                                <span class="input-icon icon-right inverted">
                                    <input name="cate_name" required=""  type="text" class="form-control">
                                    <i class="fa fa-bars bg-darkorange"></i>
                                </span>
                                <!--<input class="form-control" id="username" placeholder="" name="username" required="" type="text">-->
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>
                        
                        <div class="form-group">
                            
                            <label for="language_name" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_lang}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                   
                                    <input name="language_name" required=""  type="text" disabled="disabled"  value="&nbsp;&nbsp;{$lang[$language_id]['brief_name']} "   class="form-control">
                                    <i class="fa fa-language bg-orange"></i>
                                </span>
                                <input name="language_id" type="hidden"   value="{$language_id} ">  
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>   
                        
                        <div class="form-group">
                           <label for="status" class="col-sm-2 control-label no-padding-right" >{$Think.lang.category_status}</label>
                            <div class="col-sm-6">
                                <label>
                                    <input class="checkbox-slider colored-success "  id='is_recommend'  name='status' checked="checked" type="checkbox">
                                    <span class="text" style="margin-top:5px"></span>
                                </label>
                            </div>                             
                        </div>
                        <div class="form-group">
                           <label for="is_recommond" class="col-sm-2 control-label no-padding-right" >{$Think.lang.category_recommond}</label>
                            <div class="col-sm-6">
                                <label>
                                    <input class="checkbox-slider colored-success "  id='is_recommend'  name='is_recommond' checked="checked" type="checkbox">
                                    <span class="text" style="margin-top:5px"></span>
                                </label>
                            </div>                             
                        </div>

                        <div class="form-group">
                            <label for="pid" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_pid}</label>
                            <div class="col-sm-6">  

                                <select class="form-control" id="authority" name="pid" style="border-radius:0px;">
                                    <option value="0">{$Think.lang.category_top}</option> 
                                    {volist name='sort_cates' id='cate'}
                                        <option value="{$cate.id}" > <?php if($cate['level']>0) { echo str_repeat('&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;',$cate['level']-1).'&nbsp;&nbsp;&nbsp; |---';}?>{$cate.cate_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>   
                       
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-blue">{$Think.lang.save_info}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__JS__/jquery_002.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>

    <script src="__JS__/bootstrap-datepicker.js"></script>
    <script>
        $('.date-picker').datepicker();
    </script>
<script src="__JS__/tree-custom.min.js"></script>
    <script src="__JS__/treeview-init.js"></script>

    <script>
        jQuery(document).ready(function () {
            UITree.init();
        });
    </script>

</body></html>