    {include file="common/header"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
		 <!-- Page Sidebar -->
            
                <!-- Page Sidebar Header-->
                    {include file="common/left" /}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('index/index','')}">{$Think.lang.system}</a>
                        </li>
                        <li>
                            <a href="{:url('category/lst','')}">{$Think.lang.category}</a>
                        </li>
                        <li class="active">{$Think.lang.edit}
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$Think.lang.category_edit}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="{:url('category/edit')}" method="post">
                        <input name="id"   type="hidden" value="{$results.id}" ">
                        <div class="form-group">
                            <label for="cate_name" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_name}</label>
                            <div class="col-sm-6">
                                <span class="input-icon icon-right inverted">
                                    <input name="cate_name" required=""  type="text" value="{$results.cate_name}" class="form-control">
                                    <i class="fa fa-bars bg-darkorange"></i>
                                </span>
                                <!--<input class="form-control" id="username" placeholder="" name="username" required="" type="text">-->
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>
                        
                        <div class="form-group">
                            
                            <label for="language_name" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_lang}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                    <input name="language_name" required=""  type="text" disabled="disabled"  value="&nbsp;&nbsp;{$results.language.brief_name} "   class="form-control">
                                    <i class="fa fa-language bg-orange"></i>
                                </span>
                                <input name="language_id" type="hidden"   value="{$results.language.id} ">  
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>   

                        <div class="form-group">
                            <label for="pid" class="col-sm-2 control-label no-padding-right">{$Think.lang.category_pid}</label>
                            <div class="col-sm-6">
                             
                          
                                <select class="form-control" id="authority" name="pid" style="border-radius:0px;">
                                    <option value="0">{$Think.lang.category_top}</option> 
                                    {volist name='sort_cates' id='cate'}
                                    <option style="line-height: 20px;height: 20px;" value="{$cate.id}" {if condition='$cate.id == $results.pid'} selected {/if} > <?php if($cate['level']>0) { echo str_repeat('&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;',$cate['level']-1).'&nbsp;&nbsp;&nbsp;|---';}?>{$cate.cate_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>                        
                       <div class="form-group">
                            <label for="model_type_id" class="col-sm-2 control-label no-padding-right">{$Think.lang.model}</label>
                            <div class="col-sm-6">  

                                <select class="form-control" id="authority" name="model_type_id" style="border-radius:0px;">
                                    
                                    {volist name='models' id='model'}
                                        <option value="{$model.id}" {if condition="$results.model_type_id eq $model.id"} selected {/if} ><?php if($language_id==1) { ?>{$model.model_ch_name}<?php }else{ ?>
                                            {$model.model_en_name}
                                            <?php }?></option>
                                    {/volist}
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-blue">{$Think.lang.save_info}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__JS__/jquery_002.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>

    <script src="__JS__/bootstrap-datepicker.js"></script>
    <script>
        $('.date-picker').datepicker();
    </script>


</body></html>