    {include file="common/header" /}
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
           {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('index/index')}">{$Think.lang.system}</a>
                    </li>
                                        <li class="active">{$Think.lang.admin_list}</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="{$Think.lang.add}" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('admin/add')}'"> <i class="fa fa-plus"></i> {$Think.lang.add}
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                     <form id="myform" action=""  method="post">
                    <table class="table table-bordered table-hover ">
                        <thead class="">
                            <tr>
                                <th class="text-center" style="vertical-align: middle;;font-size: 13px;padding-bottom: 0px">
                                    <label >
                                            <input type="checkbox" class="colored-success"   id='check_all'>
                                            <span id="check-2" class="text"></span>
                                         </label>

                                </th>
                                <th class="text-center">{$Think.lang.id}</th>
                                <th class="text-center" style="vertical-align: middle"><a href="" style='color:inherit'>{$Think.lang.sort}</a></th>  
                                <th class="text-center">{$Think.lang.username}</th>
                                <th class="text-center">{$Think.lang.group}</th>
                                <th class="text-center">{$Think.lang.last_log_IP}</th>
                                <th class="text-center">{$Think.lang.last_log_time}</th>
                                <th class="text-center">{$Think.lang.status}</th>
                                <th class="text-center">{$Think.lang.operation}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="results" id="vo"}
                            <tr>
                                <td align="center" style='vertical-align: middle;padding-bottom: 0px'>
                                         <label>
                                             <input type="checkbox" name="checkbox[]" data-tog="ss"  id='{$vo.id}' value="{$vo.id}" class="colored-success" >
                                            <span class="text" ></span>
                                         </label>
                                </td>
                                <td align="center" style='vertical-align: middle;'>{$vo.id}</td>
                                <td align="center"  class="" style='vertical-align: middle;font-size: 13px;width: 80px'>
                                    <input type="text" class="form-control col-sm-2 text-center" name='sort[{$vo.id}]'  value=" {$vo.sort}"  placeholder="Default Input">
                                </td>
                                <td align="center"  style='vertical-align: middle;'>{$vo.username}</td>
                                <td align="center"  style='vertical-align: middle;'>{$vo.group_id}</td>
                                 <td align="center"  style='vertical-align: middle;'>{$vo.create_IP}</td>
                                <td align="center"  style='vertical-align: middle;'>{$vo.last_log_time|date="Y-m-d",###}</td>
                                <td align="center"   style='vertical-align: middle;'> 
                                    {if condition="$uid == 1"}
                                        <label>
                                            <input class="checkbox-slider colored-success " style="left: inherit"  onclick="set_status({$vo.id},this)"  id='status_{$vo.id}' data-tog='sdfaf'  name='status' {if condition="$vo.status == 1"}checked="checked"{/if}type="checkbox">
                                            <span class="text" style="margin-bottom: -13px"></span>
                                        </label>
                                    {else/}
                                        {if condition="$vo['status'] == 1"}
                                            <button class="btn btn-success" >{$Think.lang.nomal}</button>
                                        {else}
                                            <button class="btn btn-danger" >{$Think.lang.forbidden}</button>
                                        {/if}
                                    {/if}
                                <!--
                                    <label style="margin-bottom: -4px;">
                                        <input class="checkbox-slider colored-success "  style='vertical-align: middle ; min-height: 0px;' id='site_switch' {if condition="$vo['status'] == 1"} checked="checked" {/if}  type="checkbox">
                                        <span class="text"  style='vertical-align: middle;'></span>
                                    </label>
                                -->
                                </td>
                                <td align="center" class="buttons-preview"  style='vertical-align: middle;'>
                                    <a href="{:url('admin/edit',array('id'=>$vo['id']))}" class="btn btn-azure btn-m " style="margin-bottom: -1px;">
                                        <i class="fa fa-edit"></i> {$Think.lang.edit}
                                    </a>
                            
                                    <a href="#" onClick="warning('{$Think.lang.delete_confirm}', '{:url(\'admin/del\',array('id'=>$vo['id']))}')" class="btn btn-darkorange  btn-m" style="margin-bottom: -1px;">
                                        <i class="fa fa-trash-o"></i> {$Think.lang.delete}
                                    </a>
                                </td>
                            </tr>
                             {/volist}   
                        </tbody>
                        
                    </table>
                    </form>
                </div>
                
                <div  style="display: block">
                    <div style="padding-top: 5px; display: inline-block ;">                           
                        <!--      
                        <a  onclick='(function(){$("form").attr("action","{:url(\"delMuti\",array(\"language_id\"=>\"1\"))}");;$("#myform").submit();})();' class="btn btn-darkorange">删除</a>
                        -->
                        <a  onclick='del_arr()' class="btn btn-darkorange">{$Think.lang.delete}</a>
                        <a onclick="sort_arr()" class="btn btn-azure">{$Think.lang.sort}</a>
                             
                    </div>
                    <div style="padding-top: 5px;display: inline-block ; float: right; ">
                       {$results->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__JS__/jquery_002.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>
    
      <script>
       
    $("#check_all").click(function(){           
         $(":input:checkbox[data-tog='ss']").prop('checked',this.checked);             
        });
       
        function del_arr(){
            if($(":input:checkbox:checked[data-tog='ss']").length>0){   
                $("form").attr("action","{:url('delMuti',array('language_id'=>$language_id))}");
                $("#myform").submit();
            }else{
                alert('{$Think.lang.no_selected_checkbox}');
            }
        }
        function sort_arr(){            
                $("form").attr("action","{:url('resort',array('language_id'=>intval($language_id)))}");
                $("#myform").submit();
        }
        
         function set_status(id,obj){            
            var status=false;
            if($('#'+obj.id).attr('checked')=='checked'){
                status=true;
            }          
            if(status){
                $('#'+obj.id).removeAttr('checked'); 
                
               set_remote_status(id,obj.name,0);
            }else{
                $('#'+obj.id).attr('checked','checked');
                set_remote_status(id,obj.name,1);
            }
            
        }
        function set_remote_status(id,field_name,field_value){     
            $.ajax({
              url:"{:url('updateStatus')}",
                data:{'id':id,'field_name':field_name,'field_value':field_value},
                success:function(msg){
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown)
                },
            });
            
        }
      
    </script>


</body></html>