    {include file="common/header"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
		 <!-- Page Sidebar -->
            
                <!-- Page Sidebar Header-->
                    {include file="common/left" /}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:url('index/index','')}">{$Think.lang.system}</a>
                        </li>
                        <li>
                            <a href="{:url('links/lst','')}">{$Think.lang.links}</a>
                        </li>
                        <li class="active">{$Think.lang.add}
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">{$Think.lang.add}</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" enctype="multipart/form-data" action="{:url('links/add')}" method="post">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label no-padding-right">{$Think.lang.links_name}</label>
                            <div class="col-sm-6">
                                <span class="input-icon icon-right inverted">
                                    <input name="name" required=""  type="text" class="form-control">
                                    <i class="fa fa-bars btn-maroon"></i>
                                </span>
                                <!--<input class="form-control" id="username" placeholder="" name="username" required="" type="text">-->
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div>

                        <div class="form-group">
                            <label for="url" class="col-sm-2 control-label no-padding-right">{$Think.lang.links_url}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                    <input name="url" required="" type="text"  class="form-control ">
                                    <i class="fa fa-link bg-danger"></i>
                                 </span>
                                <!--<input class="form-control" id="password" placeholder="" name="password" required="" type="text">-->
                            </div>
                            <p class="help-block col-sm-4 red">* {$Think.lang.required}</p>
                        </div> 
                        
                        <div class="form-group">
                            <label for="thumb" class="col-sm-2 control-label no-padding-right">{$Think.lang.thumb}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                    <input name="thumb"  type="file"  class="form-control ">
                                    <i class="fa fa-file-image-o  bg-darkorange"></i>
                                 </span>
                                <!--<input class="form-control" id="password" placeholder="" name="password" required="" type="text">-->
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <label for="language_id" class="col-sm-2 control-label no-padding-right">{$Think.lang.links_language}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                    <select name="language_id" class="col-sm-12" >
                                        {volist name="lang" id="vo"}
                                        <option value="{$vo.id}" {if condition="$vo.id == $language_id "} selected{/if}>{$vo.brief_name}</option>
                                        {/volist}
                                    </select>
                                    
                                   <!-- <i class="fa fa-language  bg-orange"></i>-->
                                 </span>
                                <!--<input class="form-control" id="password" placeholder="" name="password" required="" type="text">-->
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="is_recommond" class="col-sm-2 control-label no-padding-right" >{$Think.lang.is_recommond}</label>
                            <div class="col-sm-6">
                                <label>
                                    <input class="checkbox-slider yesno colored-success "  id='is_recommond'  name='is_recommond' type="checkbox">
                                    <span class="text" style="margin-top:5px"></span>
                                </label>
                            </div>                            
                        </div>
                      <div class="form-group">
                            <label for="sort" class="col-sm-2 control-label no-padding-right">{$Think.lang.sort}</label>
                            <div class="col-sm-6">  
                                <span class="input-icon icon-right inverted">
                                    <input name="sort"  type="text"  class="form-control ">
                                    <i class="fa fa-sort-amount-asc bg-pink"></i>
                                 </span>
                                <!--<input class="form-control" id="password" placeholder="" name="password" required="" type="text">-->
                            </div>
                        </div> 
                      
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-blue">{$Think.lang.save_info}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__JS__/jquery_002.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>

    <script src="__JS__/bootstrap-datepicker.js"></script>
    <script>
        $('.date-picker').datepicker();
    </script>


</body></html>