    {include file="common/header" /}
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
           {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('index/index')}">{$Think.lang.system}</a>
                    </li>
                                        <li class="active">{$Think.lang.links}</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="{$Think.lang.add}" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('links/add',array('language_id'=>$language_id))}'"> <i class="fa fa-plus"></i> {$Think.lang.add}
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                      <form id="myform" action=""  method="post">
                    <table class="table table-bordered table-hover ">
                        <thead class="">
                            <tr>
                                <th class="text-center" style="vertical-align: middle;;font-size: 13px">
                                    <label style="margin-bottom: -1px" >
                                            <input type="checkbox" class="colored-success"   id='check_all'>
                                            <span id="check-2" class="text"></span>
                                         </label>

                                </th>
                                <th class="text-center" style="vertical-align: middle">{$Think.lang.id}</th>
                                <th class="text-center" style="vertical-align: middle"><a href="" style='color:inherit'>{$Think.lang.sort}</a></th>         
                                <th class="text-center">{$Think.lang.links_name}</th>
                                <th class="text-center">{$Think.lang.links_url}</th>
                                <th class="text-center">{$Think.lang.links_language}</th>
                                <th class="text-center">{$Think.lang.is_recommond}</th>
                                <th class="text-center">{$Think.lang.links_is_thumb}</th>
                                <th class="text-center">{$Think.lang.links_thumb}</th>
                                <th class="text-center">{$Think.lang.operation}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="results" id="vo"}
                            <tr>
                                <td align="center" style='vertical-align: middle;'>
                                         <label style="margin-bottom: -1px" >
                                             <input type="checkbox" name="checkbox[]" data-tog="ss"  id='{$vo.id}' value="{$vo.id}" class="colored-success" >
                                            <span class="text" ></span>
                                         </label>
                                </td>
                                <td align="center" style='vertical-align: middle;'>{$vo.id}</td>
                                <td align="center"  class="" style='vertical-align: middle;font-size: 13px;width: 80px'>
                                    <input type="text" class="form-control col-sm-2 text-center" name='sort[{$vo.id}]'  value=" {$vo.sort}"  placeholder="Default Input">
                                  </td>
                                <td align="center"  style='vertical-align: middle;'>{$vo.name}</td>
                                <td align="center"  style='vertical-align: middle;'>{$vo.url}</td>
                                 <td align="center"  style='vertical-align: middle;'>{$vo.language.brief_name}</td>
                                 <td align="center"  style='vertical-align: middle;'>
                                     <label>
                                        <input class="checkbox-slider yesno colored-success " style="left:inherit"   id='is_recommend_{$vo.id}'  onclick="set_status({$vo.id},this)"  {if condition="$vo.is_recommond != 0"} checked="checked"{/if}  name='is_recommond' type="checkbox">
                                        <span class="text" style="margin-bottom: -12px"></span>
                                    </label>                                     
                                 </td>
                                 <td align="center"  style='vertical-align: middle;'>
                                     {if condition="$vo.is_thumb != 0"}
                                         <a class="btn btn-success btn-xs icon-only white" href="javascript:void(0);">
                                             <i class="fa fa-check"></i>
                                        </a>
                                         {else/}
                                         <a class="btn btn-darkorange btn-xs icon-only white" href="javascript:void(0);">
                                            <i class="fa fa-remove"></i>
                                         </a>
                                         {/if}
                                 </td>
                                <td align="center"  style='vertical-align: middle;'> 
                                    {if condition="$vo['thumb'] != ''"}
                                        <img src='{$vo.thumb}' style="width: 60px;height: 30px;"/>
                                    {else}
                                         <img src='uploads/default.png'/>
                                    {/if}
                           
                                </td>
                                <td align="center" class="buttons-preview"  style='vertical-align: middle;'>
                                    <a href="{:url('links/edit',array('id'=>$vo['id'],'language_id'=>$language_id))}" class="btn btn-azure btn-m " style="margin-bottom: -1px;">
                                        <i class="fa fa-edit"></i> {$Think.lang.edit}
                                    </a>
                            
                                    <a href="#" onClick="warning('{$Think.lang.delete_confirm}', '{:url(\'links/del\',array('id'=>$vo['id']))}')" class="btn btn-darkorange  btn-m" style="margin-bottom: -1px;">
                                        <i class="fa fa-trash-o"></i> {$Think.lang.delete}
                                    </a>
                                </td>
                            </tr>
                             {/volist}   
                        </tbody>
                        
                    </table>
                    </form>
                </div>
                
                <div  style="display: block">
                <div style="padding-top: 5px; display: inline-block ;">                           
              <!--      <a  onclick='(function(){$("form").attr("action","{:url(\"delMuti\",array(\"language_id\"=>\"$language_id\"))}");;$("#myform").submit();})();' class="btn btn-darkorange">删除</a>
                  -->
                  <a  onclick='del_arr()' class="btn btn-darkorange">{$Think.lang.delete}</a>
                  <a onclick="sort_arr()" class="btn btn-azure">{$Think.lang.sort}</a>
                             
                </div>
                <div style="padding-top: 5px;display: inline-block ; float: right; ">
                    
                    {$results->render()}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="__JS__/jquery_002.js"></script>
    <script src="__JS__/bootstrap.js"></script>
    <script src="__JS__/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>
    
    <script>
    $("#check_all").click(function(){           
         $(":input:checkbox[data-tog='ss']").prop('checked',this.checked);             
        });
    function del_arr(){
            if($(":input:checkbox:checked[data-tog='ss']").length>0){               
                $("form").attr("action","{:url('delMuti',array('language_id'=>$language_id))}");
                $("#myform").submit();
            }else{
                alert('{$Think.lang.no_selected_checkbox}');
            }
        }
        function sort_arr(){            
                $("form").attr("action","{:url('resort',array('language_id'=>intval($language_id)))}");
                $("#myform").submit();
        }
         function set_status(id,obj){            
            var status=false;
            if($('#'+obj.id).attr('checked')=='checked'){
                status=true;
            }          
            if(status){
                $('#'+obj.id).removeAttr('checked');               
               set_remote_status(id,obj.name,0);
            }else{
                $('#'+obj.id).attr('checked','checked');
                set_remote_status(id,obj.name,1);
            }
            
        }
        function set_remote_status(id,field_name,field_value){     
           
            $.ajax({
              url:"{:url('updateStatus')}",
                data:{'id':id,'field_name':field_name,'field_value':field_value},
                success:function(msg){
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown)
                },
            });
            
        }
    </script>

</body></html>