 <div id="header_wrap">
            <div id="header">
                <div style="float: left; width: 310px;">
                    <h1>
                        <a href="/" title="宽屏大气文章类--41天鹰模板">宽屏大气文章类--41天鹰模板</a>
                        <div class="" id="logo-sub-class">
                        </div>
                    </h1>
                </div>
                <div id="navi">

                    <ul id="jsddm">
                        <li><a class="navi_home" href="/">首页</a></li>

                        {volist name="sort_cates" id="vo"}
                        <li><a href="{if condition='$vo.type eq 0' }{:url('index/artlst',array('id'=>$vo.id,'type'=>2))}{elseif condition='$vo.type eq 1'}{:url('index/imglst',array('id'=>$vo.id,'type'=>2))}{else/}{:url('index/page',array('id'=>$vo.id,'type'=>1))}{/if}">{$vo.cate_name}</a>
                             {if condition="$vo['children'] neq 0"}
                            <ul>
                                <?php foreach($vo['children'] as $k=>$value){?>
                                <li><a href="{if condition='$value.type eq 0' }{:url('index/artlst',array('id'=>$value.id,'type'=>2))}{elseif condition='$value.type eq 1'}{:url('index/imglst',array('id'=>$value.id,'type'=>2))}{else/}{:url('index/page',array('id'=>$value.id,'type'=>1))}{/if}">{$value.cate_name}</a></li>                                  
                                <?php }?>
                            </ul>
                            {/if} 

                        </li>
                        {/volist}

                    </ul>

                    <div style="clear: both;">
                    </div>


                </div>
                <div style="float: right; width: 209px;">
                    <div class="widget" style="height: 30px; padding-top: 20px;">
                        <div style="float: left;">
                            <form  name="formsearch" action="{:url('index/search')}"><input type="hidden" name="kwtype" value="0" />                
                                <input name="keyword" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="在这里搜索..." onfocus="if (this.value == '在这里搜索...') {
                                            this.value = '';
                                        }"  onblur="if (this.value == '') {
                                                    this.value = '在这里搜索...';
                                                }" />
                            </form>
                        </div>
                        <div style="float: left;">
                            <img src="__IMG__/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                                 padding: 0px;" onclick="subForm()"  /></div>
                                 
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>

            </div>
     <div style="float: right;color: white;position: absolute; right: 10px;top: 10px;padding: 15px 50px;">
         <a style="color: white;padding: 0 5px" href="?lang=zh-cn">简体中文</a>
         <a style="color: white;padding: 0 5px" href="?lang=en-us">English</a>
     </div>
        </div>
<div style="padding: ">   </div>